
@{
    ViewData["Title"] = "Habitacion2";
}

    <div class="header"><h1>Habitacion 2</h1></div> 
<div class="adivinanza">
<p>
Estando roto es más útil que sin romperse. ¿Qué es?
</p>
</div>

<form method="post" action='@Url.Action("Habitacion","Home")'>
     <div class="form-group">
        <input  class="form-control" type="text" name="clave" autocomplete="off" required> 
        <input  type="hidden" name="sala" value="2"> 
    </div>
    <div class="form-group mt-2">
        <input  class="btn btn-success"  type="submit" name="">
        <button class="btn btn-secondary" type="button" onclick="alert(' Pista 1:Es blanco por fuera')">Pista 1</button>
   <button class="btn btn-secondary" type="button" onclick="alert('Pista 2: Ingrediente para cocinar')">Pista 2</button>
    </div>
</form>
<div class="habitacionimg">
    <img src="/img/comidaimg.PNG">
</div>

 @ViewBag.Error

