@{
    ViewData["Title"] = "Scape Room";
}
    <div class="header"><h1>Sala de Escape</h1></div>
<div class="index">
    <h2>A ver si logras escapar...</h2>
     <img src="img/escaperoom.PNG">

</div>
