<div class="header"><h1>Tutorial</h1></div>
<div class="introvic"><p>Usted tendrá que ir adivinando cada habitación para poder salir de las sala. son 4 habitaciones con un loco asesino serial persiguiendolo.
 Si logras adivinar las 4 habitaciones, escapáras del asesino y saldrás de aquí con vida. Suerte! </p> 
<img src="/img/cuchillo.jpg">
</div> 